@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

:root {
    --primary-color: #ffc107;
    --secondary-color: #7C3AED;
    --light-bg: #f8f9fa;
    --text-dark: #212529;
    --text-muted: #6c757d;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--light-bg);
    color: var(--text-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero-section {
    background-image: linear-gradient(rgba(80, 80, 80, 0.5), rgba(79, 79, 79, 0.5)), url('/assets/images/page-title.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
}

.hero-section .hero-text {
    max-width: 500px;
}

.section-title {
    font-weight: 700;
    font-size: 2.25rem;
    color: #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    box-shadow: none !important;
    outline: 0 !important;
    border-color: #ced4da;
    background-color: transparent;
}

.form-control {
    background-color: transparent;
}

.recipe-card {
    border-radius: 10px;
    overflow: hidden;
}

.recipe-card .card-img {
    overflow: hidden;
    width: 100%;
    height: 180px;
    border-radius: 0px;
}

.recipe-card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* .recipe-card .card-text {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.recipe-card .card-title {
    font-size: clamp(1.1rem, 2vw, 1.25rem);
    font-weight: 700;
}

.recipe-card .card-text p {
    font-size: 0.85rem;
    line-height: 1.4;
}

.recipe-card button.btn-sm {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}



#scrollToTopBtn {
    width: 40px;
    height: 56px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.fixed-bottom-end {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
}

.show-btn {
    opacity: 1 !important;
    pointer-events: auto !important;
}

footer {
    background-color: #343a40;
    color: white;
}

.social-icons a {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #fca311 !important;
    transform: scale(1.1);
}

#exampleModalCenter .modal-content {
    max-height: 90vh;
    border-radius: 12px;
    overflow: hidden;
}

#exampleModalCenter .modal-body {
    overflow-y: auto;
}

.modal-image {
    overflow: hidden;
    width: 100%;
    height: 380px;
    border-radius: 0px;
}

.modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}


@media (min-width: 576px) {
    .hero-content h1 {
        font-size: 5.5vw;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }


    .hero-content h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .hero-content h1 {
        font-size: 4rem;
    }
}